<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>



    <h2>Shoe catelogue</h2>
    <div class="shoes">

        <div class="shoes">
            <img src="/css/image/img1.webp" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>  <br>

        {{!-- <img src="/css/image/img2.webp" alt="" height="200 px" width="150 px"> --}}
        <div class="shoes" >

            <img src="/css/image/img3.jpeg" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div class="shoes">
            <img src="/css/image/img4.webp" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div class="shoes">
            <img src="/css/image/img5.webp" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div class="shoes">
            <img src="/css/image/img17.jpeg" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div class="shoes">

            <img src="/css/image/img6.webp" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div class="shoes">

            <img src="/css/image/img8.jpg" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div class="shoes">
            <img src="/css/image/img11.webp" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>

        </div>
        <div class="shoes">

            <img src="/css/image/img14.webp" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div class="shoes">

            <img src="/css/image/img13.jpg" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div class="shoes">


            <img src="/css/image/img16.webp" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>
        <div c>

            <img src="/css/image/img18.webp" alt="" height="200 px" width="150 px"><br>
            <a href="/week"><button class="logBtn">Add to cart</button></a>
        </div>

    </div>
    {{!-- <img src="/public/css/image/img1.webp" alt="" srcset=""> --}}


    </div>

</body>

</html>