body{
    background-color: darksalmon;
}

h2{
    color: pink;
    font-size: 28px;
    font-family: 'Kalam', cursive;

}


.logBtn {

    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(12, 147, 201, 0.2) 0 -25px 18px -14px inset, rgba(72, 76, 129, 0.15) 0 1px 2px, rgba(31, 16, 165, 0.15) 0 2px 4px, rgba(24, 23, 87, 0.15) 0 4px 8px, rgba(36, 17, 204, 0.15) 0 8px 16px, rgba(47, 49, 134, 0.15) 0 16px 32px;
    color: rgb(0, 55, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.logBtn:hover {
    box-shadow: rgba(30, 29, 97, 0.35) 0 -25px 18px -14px inset, rgba(120, 154, 182, 0.25) 0 1px 2px, rgba(11, 29, 85, 0.25) 0 2px 4px, rgba(61, 73, 90, 0.25) 0 4px 8px, rgba(21, 25, 78, 0.25) 0 8px 16px, rgba(44, 31, 80, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}



.logBtn:active {
    background-color: #6e68a0;
    box-shadow: 0 5px rgb(43, 99, 87);
    transform: translateY(4px);
}

.shoes{
    display: inline-block;
    padding: 20px 20px;
}


@media only screen and (min-width: 320px) and (max-width: 780px) {
    .container {
        flex-direction: column;
    }

    .body {
        /* flex-direction: column; */
    }

    .shoes {
        flex-direction: column;
    }
}